# Database Configuration
ZOWPY_DB_URL=sqlite+aiosqlite:///zowpy.db
# ZOWPY_DB_URL=postgresql+asyncpg://user:password@localhost/zowpy

# Account Path
ZOWPY_ACCOUNT_PATH=./accounts

# Default Device Environment
ZOWPY_DEFAULT_DEVICE_ENV=android

# Logging
ZOWPY_LOG_LEVEL=INFO
